.movie-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.movie_card {
  width: 100%;
  height: 100%;
  position: relative;
}
.movie_card img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: all 1.5s ease;
}
.movie_card img:hover{
    transform: scale(1.1);
}
.movie-info {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  width: 250px;
  position: absolute;
  bottom: 20px;
  left: 20%;
  text-align: center;
  line-height: 0;
  transition: all 1s ease;
}
.movie-info:hover {
    background-color: black;
    opacity: .5;
}
.movie-info h3 {
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
}
.movie-categories {
  display: flex;
  justify-content: space-between;
}
.movie-info button {
  background-color: beige;
  color:black;
  font-weight: bold;
  padding:10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 1s ease;
}
.movie-info button:hover {
    background-color: rgb(28, 28, 27);
    color:rgb(241, 232, 232);
  }
