.movie_details_container {
  width: 80%;
  height: 400px;
  background-color: black;
  opacity: 0.7;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 10px;
}
.movie_details_left {
  width: 400px;
  height: 300px;
}
.movie_details_left img {
  width: 350px;
  height: 100%;
}
.movie_details_info {
  color: white;
}
.modal-container h2{
    font-size: 100px;
}
